@charset "UTF-8";
html{font-size: 100%;
}
body{
  font-family: monospace;
  line-height: 1.7;
  color: #432;
}
a{
  text-decoration: none;
  
}

.logo{
  width: 100px;
  height: 100px;
  margin-top: 14px;
}
.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: upppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li{
margin-left: 36px;
}
.main-nav a{
  color: #432;
}
.main-nav a:hover{
  color: #0bd;
}
.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;

}
/* home
------------------------------------*/
.home-content{
  text-align: center;
  margin-top: 10%
}
.home-content p{
  font-size:1.125rem;
  margin:10px 0 42px;
}

/*버튼*/
.button{
  font-size: 1.375rem;
  background:  #d6c299;
  color: #fff;
  border-radius: 5px;
  padding: 14px 35px;
}
.button:hover{
  background:  #0090aa;
}
/*큰배경이미지*/
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home{
  background-image: url(images/main-bg.jpg);
  min-height: 100vh;
}
#home .page-title{
  text-transform: none;
}
.page-title {
font-weight: bold;
margin-top: 20px;
font-size: 60px;
}
p a:link, a:visited, a:active{text-decoration: none;
  color:#432
}
p a:hover{
  color: #0bd;
}
p {
  padding: 10px;
  margin: 10px;
}
s
/*news------------------------------------------*/
#news{
  background-image: url(images/main-bg.jpg);
height: 200px;
margin-bottom:40px;
}

#news a:link, a:visited, a:hover a:active{
  text-decoration: none;
  color:#432
  }
  .wrapper h2{
    font-weight: bold;
  }



  /*푸터
  ---------------------*/
  footer{
    background: #432;
    text-align: center;
    padding: 10px 0;
    }
  footer p{
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 0px;
    padding-bottom: 0px;

  }
  address p{
    font-size: 1.25rem;
    margin-top: 0px;
    padding-top: 0px;
    font-family: monospace;
  }
/*본문내용*/
article{
  width: 73%;
}

/*사이드바*/
aside{
  width: 23%;
  margin-top: 10px;
}
.news-contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post-info{
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;
}
.post-time{
  background: #dcc8dc;
  border-radius: 15%;
  color: #6e5064;
  width: 130px;
  height: 60px;
  font-size: 1.1rem;
  text-align: left;
  position: absolute;
  top: 0;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 100PX;
}
.post-time span{
  font-size: 1.1rem;
  border-top: 1px rgba(255,255,255,.5) solid;
  display: block;
  width: 130px;
  height: 40px;
  padding: 0px;
}
.post-title{
 font-size: 2rem;
 font-weight: normal;
 margin-left: 200px;
 margin-top: 40px;
} 
p3{
  font-size: 15px;
  text-align: justify;
}
div.contaner{
  align-content: flex-end;
}
.index2bg{
  max-width: 100%;
  margin-bottom: 1rem;
  width: 500px;
  height: 500px;
}

.sub-title{
  font-size: 1.395rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: bold;
  margin-top: 80px;
}
aside p{
  padding: 12px 10px;
}
.sub-menu{
  margin-bottom: 60px;
  list-style: none;
  font-weight: bold;
  font-size: 1.1rem;
}
.sub-menu li{
  border-bottom: 1px #ddd solid;
}
.sub-menu a{
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover{
  color: #0bd;
}
span img{
  width: 450px;
  height: 450px;
  margin-right: 10px;
  font-weight: normal;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
.item{
  background: #ffffff;
}
.item img{
  width: 250px;
  height: 300px;
}
.grid{
  display: grid;
  grid-template-columns: 30px 30px 30px 30px;

}
.page{
  border: 0.1px;
  border: solid;
  border-radius: 15%;
  background: #ffffff;
  padding: 5px;
  text-align: center;
}

.mmenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu{
  border: 0.10;
  border: solid black;
  border-radius: 10%;
  background-color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

}
/*모바일버전
----------------------*/
@media (max-width: 640px) {

  h1{
    color: #0bd;
  }
.big-bg{
    height: 170;

}

  .logo {
    width: 50px;
    height: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .page-title{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 10px;
   font-family: monospace;
     margin-bottom: 7px;
    }


  /*header*/
  .main-nav {
    font-size: 0.8rem;
    margin-top: 0px;
    float: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
  .main-nav li{
    margin: 0 22px;
  }
  /*home*/
  .home-content{
    margin-top: 20%;
  }

.page-header{
  flex-direction: column;
  align-items: center;
  font-size: 5px;
}
/*news*/
.news-contents{
  flex-direction: column;
}
page-header .wrapper{
  font-family: monospace;
  text-align: center;
}
article img{
  height: 300px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
article, aside{
  width: 100%;
}
#news .page-title{
  margin-top: 0px;
  padding-top: 0px;

}
#news .big-bg{
  margin-bottom: 0px;
}
aside {
  margin-top: 0px;
}
.sub-title{
  margin-top: 30px;
}
.post-time{
width: 100px;
height: 44px;
font-size: 0.8rem;
}
.post-time span{
font-size:  0.8rem

}
.post-title{
  font-size: 1.1rem;
  padding-left: 150px;
  margin-left: 0px;
  margin-top: 50px;
  text-align: left;
}
.item img{
width: auto;
height: 100px;
}
}
